h1,
h2,
h3,
p {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url('../images/pattern.jpeg');
}

.div h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    width: 100%;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}

.span {
    font-weight: bold;
    color: blue;
}